<ion-view style="" class=" " id="page3" title="Cart">
    <ion-content class="has-header" padding="true">
        <form class="list " id="cart-form4">
            <label name="name" id="cart-input3" class="item item-input ">
                <span class="input-label">name</span>
                <input placeholder="Full Name" type="text">
            </label>
        </form>
        <form class="list " id="cart-form6">
            <label name="card" id="cart-input5" class="item item-input ">
                <span class="input-label">card</span>
                <input placeholder="Card" type="text">
            </label>
        </form>
        <div style="" id="cart-list-item-container4" class="item item-body ">
            <p class=" " style="margin-top:0px;color:#000000;" id="cart-markdown3">Some friendly
                <strong>markdown</strong>
            </p>
        </div>
        <div style="" id="cart-list-item-container5" class="item item-body ">
            <p class=" " style="margin-top:0px;color:#000000;" id="cart-markdown4">Some friendly
                <strong>markdown</strong>
            </p>
        </div>
        <button class=" button button-positive  button-block " style="font-size:17px;" id="cart-button1">Purchase</button>
    </ion-content>
</ion-view>