<ion-view style="" class=" " id="page4" title="Transaction History">
    <ion-content class="has-header" padding="true">
        <div style="" id="transactionHistory-list-item-container6" class="item item-body ">
            <p class=" " style="margin-top:0px;color:#000000;" id="transactionHistory-markdown5">Some friendly
                <strong>markdown</strong>
            </p>
        </div>
        <div style="" id="transactionHistory-list-item-container7" class="item item-body ">
            <p class=" " style="margin-top:0px;color:#000000;" id="transactionHistory-markdown6">Some friendly
                <strong>markdown</strong>
            </p>
        </div>
        <div style="" id="transactionHistory-list-item-container8" class="item item-body ">
            <p class=" " style="margin-top:0px;color:#000000;" id="transactionHistory-markdown7">Some friendly
                <strong>markdown</strong>
            </p>
        </div>
    </ion-content>
</ion-view>